* {
    tamaño de caja : caja de borde;
    margen :  0 ;
    relleno :  0 ;
    color : blanco;
}

cuerpo {
    fondo :  gradiente lineal ( # 1354A5  0 % ,  # 041832  33,33 % ,  # 041832  66,67 % ,  # 01080E  100 % );
    altura :  100 vh ;
    pantalla : flexible;
    alinear-elementos : centro;
    justificar-contenido : centro;
}


cuerpo :: antes de {
    imagen de fondo :  url ( "img/code.png" );
    repetición de fondo : sin repetición;
    posición de fondo : derecha;
    contenido :  "" ;
    pantalla : bloque;
    posición : absoluta;
    ancho :  100 % ;
    altura :  100 % ;
    opacidad :  0,4 ;
}

. contenedor {
    ancho :  1200 px ;
    altura :  600 px ;
    pantalla : flexible;
    alinear-elementos : centro;
    justificar-contenido : espacio-entre;
    radio del borde :  24 px ;
    borde :  1 px sólido # 1875E8 ;
    caja-sombra :  4 px  4 px  20 px  0 px  rgba ( 1 ,  8 ,  14 ,  0.15 );
    imagen de fondo :  url ( "img/Ruido.png" );
    tamaño de fondo :  100 %  100 % ;
    posición : relativa;
}


. contenedor__contenido {
    pantalla : flexible;
    alinear-elementos : centro;
    posición : absoluta;
    abajo :  0 ;
}

. contenedor__informaciones {
    flexionar :  1 ;
    relleno :  3 rem ;
}

. contenedor__boton {
    radio del borde :  16 px ;
    fondo :  # 1875E8 ;
    relleno :  16 px  24 px ;
    ancho :  100 % ;
    tamaño de fuente :  24 px ;
    peso de la fuente :  700 ;
    borde : ninguno;
    margen superior :  2 rem ;
}

.container__boton : deshabilitado {​
    fondo :  # 898989 ;
}

. contenedor__texto {
    margen :  16 px  0  16 px  0 ;
}

. contenedor__texto-azul {
    color :  # 1875E8 ;
}

.contenedor__input {​
    ancho :  100 % ;
    altura :  72 px ;
    radio del borde :  16 px ;
    color de fondo :  # FFF ;
    borde : ninguno;
    color :  # 1875E8 ;
    relleno :  2 rem ;
    tamaño de fuente :  24 px ;
    peso de la fuente :  700 ;
    familia de fuentes :  'Inter' , sans-serif;
}

.contenedor__botones {​
    pantalla : flexible;
    brecha :  2 em ;
}

h1 {
    familia de fuentes :  'Chakra Petch' , sans-serif;
    tamaño de fuente :  72 px ;
    relleno inferior :  3 rem ;
}

pag ,
botón {
    familia de fuentes :  'Inter' , sans-serif;
}

.texto__parrafo {​
    tamaño de fuente :  32 px ;
    peso de la fuente :  400 ;
}
